{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="page row">
	{% include 'partials/header.html.twig' %}
	<div class="page-text credits">
		<div class="inner-text">
			{{ page.content }}
		</div>	
	</div>
<!-- 	<div class="page-text partenaires">
		<div class="inner-text">
			{{ page.header.partenaires }}
		</div>
	</div> -->
</div>
{% endblock %}