{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="page row">
	{% include 'partials/header.html.twig' %}
<!-- 	<header id="header" class="header-page">
		<div class="inner-header">
		  <div class="title page-title">
	      <a href="{{ base_url == '' ? '/' : base_url }}"><img src="{{ theme_url }}/images/title.png" alt="title"></a>
	    </div>
	    	<nav class="page-navigation">
				  {% include 'partials/menu.html.twig' %}
				</nav>
	  </div>
	</header>-->
	<div class="page-text">
		<div class="inner-text">
			{{ page.content }}
		</div>	
	</div>
</div>
{% endblock %}