{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="home row">
	<nav class="home-navigation">
		{% include 'partials/menu.html.twig' %}
	</nav>
	<div class="home-content">
		<div class="home-left small-6 large-6 columns">
		  <header id="header">
		    <div class="home-title">
		    	<a href="{{ base_url == '' ? '/' : base_url }}"><img src="{{ theme_url }}/images/title.png" alt="title"></a>
		  	</div>
		  </header><!-- /header -->
		</div>
		<div class="home-right small-6 large-6 columns">
			  <div class="home-text">
			    {{ page.content }}   
			  </div>	  
		</div>
	</div>
</div>
{% endblock %}