{% extends 'partials/base.html.twig' %}

{% block content %} 
  <header id="header">
    <div class="def-title">
    {% if page.header.spectateur is not empty%}
      <h1>{{ page.header.spectateur}}</h1>   
    {% else %}
      <h1>{{ page.title}}</h1>
    {% endif %}
    </div>
  </header><!-- /header#header -->

  <section id="content" class="content-page">
    <div class="content-def">
      {{ page.content }}
    </div>
  </section> <!-- /section#content -->
{% endblock %}