@import "../bower_components/foundation/scss/normalize.scss";

@import "../bower_components/foundation/scss/foundation/components/global";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/clearing";
@import "../bower_components/foundation/scss/foundation/components/inline-lists";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/block-grid";

//fonts
@import "../bower_components/foundation/scss/normalize.scss";
@import "../bower_components/foundation/scss/foundation.scss";
@import "http://fonts.googleapis.com/css?family=Roboto";
@import "http://fonts.googleapis.com/css?family=Share";
@import "http://fonts.googleapis.com/css?family=EB+Garamond";

/*VARIABLES*/

$text: #0000D2;
$background:#FFF;
$bleuclair:#00E5B0 ;
$blanc : #FFF;
$rose: #FF2E74;
$vert: #00FF9A;

body {
  font-family: "EB Garamond", serif;
  margin: 0px 0px 50px 0px;
  background-color: $background;
  color:$text;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "EB Garamond", serif;
  color:$text;

}

a {
  color: $text;
  border-bottom: 3px solid $vert;
}

a:hover {
  color: #000;
}

p{
  a:hover{
    color: $vert;
  }
}

.row{
    max-width: 105rem; 
}

// HOME
.home{
  .home-content {
    width: 70%;
    margin:auto;
  }

  .home-left{
    width:40%;
    display: inline-block;
    vertical-align: top;
    #header{
      .home-title{
        margin: auto;
        a{
          border:none;
        }
      }
    }
  }

  .home-right{
    width:59%;
    display: inline-block;
    vertical-align: top;
    .home-text{
      margin: 45px 0px 50px 10%;
      p{
        font-weight: bold;
        line-height: 1.3em;
        font-size: 2.3em;
        letter-spacing: 0.02em;
      }
      
    }

  }

  // .home-right{
  //   margin-top: 60px;
    
  // }
}

.menu-principal {
  margin: 30px 45px;
  text-align: center;
  li{
    display: inline-block;
    font-size: 1.5em;
    color: $text;
    margin-right: 25px;
    font-weight: bold;
    letter-spacing: 0.1em;
    a {
      color: $text;
      border: 3px solid $vert;
      padding: 10px 25px;
      &:hover{
        box-shadow:  0px 0px 30px $rose;
      }
      &.active{
        box-shadow:  0px 0px 30px $rose;
      }
    }
  }
}

// PAGE STATIC
header {
  // &.row{
  //   width: 30%;
  //   min-width: 300px;
  //   margin: -28px 0px 0px 10%;
  //   display: inline-block;
  //   vertical-align: top;
  // }
  position: relative;
  &.header-page{
    margin: 30px 0px 100px 0px;
    .page-title{
      width: 100px;
      // min-width: 200px;
      display: inline-block;
      vertical-align: top;
      position: absolute;
      top:-25px;
      left:0;
    }
    .page-navigation{
      // display: inline-block;
      width: 100%;
    }
  }
  .inner-header{
    .title {  
      a{
        border: none;
      }
    }
    .description {
      width:40%;
      min-width: 300px;
      p{
        font-size: 1em;
        line-height: 1.3em;
      }
      &.page-description{
        display: inline-block;
      }
    }
  } 
}

.page-text {
  // display: inline-block;
  border: 3px solid $vert;
  margin: 30px auto 60px auto;
  width: 50%;
  .inner-text{
    width: 70%;
    margin: 50px auto;
    p{
      font-size: 1.5em;
      line-height: 1.4em;
      text-align: justify;
    }
  }


  // .menu-principal {
  //   margin-bottom: 30px;
  //   li{
  //     display: inline-block;
  //     padding-right: 30px;
  //     font-size: 1.8em;
  //     color: $text;
  //     a {
  //       color: $text;
  //       border: 3px solid $vert;
  //       padding: 5px 10px;
  //       &:hover{
  //         box-shadow:  0px 0px 30px $rose;
  //       }
  //     }
  //   }
  // }
}

// PAGE DEFINITION
header {
  &.header-def {
    margin: 0px 70px;
    width: 100%;
    .title{
      width:20%;
      min-width: 200px;
      display: inline-block;
      vertical-align: top;
    }
    .description{
      width: 70%;
      min-width: 200px;
      vertical-align: top;
      display: inline-block;
      margin-left: 50px;
    }
  }
}

#content {
  &.content-def{
    margin: 10px 0px 0px 70px;
    display: inline-block;
    width:60%;
    p{
      font-size: 1.2em;
      line-height: 1.4em;
     -moz-column-count: 2;
     -moz-column-gap: 40px;
     -webkit-column-count: 2;
     -webkit-column-gap: 40px;
    }
  }
}


nav.definition-list {
  margin:0px 0px 50px 0px;
  ul {
    list-style: none;
    margin-left: 0px;
    li{
      width: 18.4%;
      height: 220px;
      overflow: hidden;
      border: 3px solid $vert;
      margin: 12px 12px;
      padding: 10px 30px;
      float:none;
      display: inline-block;
      vertical-align: top;
      &.letter {
        font-size: 7.2em;
        padding-top: 0px;
        text-align: center;
        color:$vert;
        &:hover {
          border: 3px solid $vert;
          box-shadow: none;
        }
      }
      &:hover{
        box-shadow: 0px 0px 30px $rose;
      }
      a{
        padding-top: 10px;
        width: 100%;
      }
      h3{
        font-size: 1.8em;
        color: $text;
      }
      p{
        color: $text;
        font-size: 1.2em;
        line-height: 1.4em;
        // display: none;
        // position: absolute;
        // background: #fff;
        // border: 3px solid $vert;
        // padding: 10px 20px;
        // z-index: 99;
        text-align: left;
      }
    }
  }
}

[class*="column"] + [class*="column"]:last-child{
  float: left;
}

// DIALOG CSS

.ui-dialog {
  background: #fff;
  box-shadow: 3px 3px 50px $rose;
  position: absolute;
  max-height:600px;
  overflow-y: auto;
  overflow-x:hidden;
  padding: 0px 30px 30px 30px;
  z-index: 101;

  header{
    margin: 0px 0px 0px 30px;
  }

  #content {
    margin-top: 0px;
    margin-left: 30px;
    width: 90%;
    h1{
      font-size: 1.2em;
      color: $text;
    }

    p{
      font-size: 1.2em;
      line-height: 1.4em;
      width: 95%;
    }

    img {
      width: 95%;
    }

  }

  .ui-button{
    border:none;
    background-color: $rose;
    padding: 4px 15px;
    position: absolute;
    right:0;
    outline: none;
  }
}

footer {
  &.row{
    margin-left: 10%;
  }
}

@media #{$small-only} { 
  header {
    &.row{
      margin: -28px 0px 0px 0px;
    }
    &.header-def {
      margin: 0px 0px 10px 10px;
    }

  }
  #content {
    p{
      text-align: left;
    }

    .menu-principal {
      margin-bottom: 30px;
      li{
        font-size: 1.4em;
        padding-right: 10px;
      }
    }
    &.content-def{
      margin-left: 10px;
      width: 90%;
      p{
       -moz-column-count: 1;
       -webkit-column-count: 1;
       -webkit-column-gap: 40px;
      }
    }
  }

  nav.definition-list {
    margin-left: 0px;
    margin-right: 30px;
  }

  .ui-dialog {
    width:100% !important;
  }

}
